.busStopDiv {
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
    padding: 15px 0;
    margin-left: -7px;
}

.busStopDot {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: rgb(255, 98, 15);
}

.busStopText {
    margin-left: 12px;
    color: black;
    font-size: 16px;
    font-weight: 700;
}
